{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "syntax-dynamic-import"
  ],
  "ignore": [
    "node_modules"
  ]
}